body{
    text-shadow: 2px 2px 2px #aaa;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(#fdeccc,#F6D7BD);
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    height: 100%;
    width: 100%;
    padding-left: 120px;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 2px #aaa;
}

.first-op, .second-op {
    background-color: white;
    width: 700px;
    height: 300px;
    margin-right: 3%;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
    pointer-events: auto;
}


.first-op:hover {
    transform: scale(1.1);
}


.first-op-enter {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.first-op-enter p {
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: bold;

}

.first-op-enter div {
    font-size: 18px;
    margin-top: 20px;
}

.first-op-enter h4 {
    margin-top: 20px;
    margin-left: 40px;
    color: #42a522;
}

.first-op-image {
    margin-top: 10%;
}

.second-op:hover {
    transform: scale(1.1);
}

.second-op-enter {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.second-op-enter p {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.second-op-enter div {
    font-size: 18px;
    margin-top: 20px;
}

.second-op-enter h4 {
    margin-top: 20px;
    margin-left: 40px;
    color: #42a522;
}

.second-op-image {
    margin-top: 10%;

}

.promo-dia {
    margin-top: 7%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.estilo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 89%; /* Alterado para 100% para se ajustar à largura da tela */
    max-width: 1852px; /* Define uma largura máxima para a imagem */
    z-index: -1;
}


.box-cards{
    width: calc(70% - 55px);
    margin: auto;
    margin-right: 280px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: transform 0.3s ease;
}

.card1{
    transition: transform 0.3s ease;
    justify-content: center;
}

.card1:hover{
    transform: scale(1.1);
}

.card2{
    transition: transform 0.3s ease;
    justify-content: center;
}

.card2:hover{
    transform: scale(1.1);
}

.card3{
    transition: transform 0.3s ease;
}

.card3:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1324px){
    .box1{
        width: 100%;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .first-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
        font-size: 2px;
    }

    .second-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
    }

    .box-cards{
        width: 50%;   
    }

    .foto-card1{
        width: 250px;
    }

    .foto-card2{
        width: 250px;
    }

    .foto-card3{
        width: 250px;
    }
}

@media screen and (max-width: 1024px){
    .box-cards{
        width: 40%;
    }
}

@media screen and (max-width: 768px){
    .box1{
        width: 100%;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .first-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
        font-size: 2px;
    }

    .second-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
    }

    .box-cards{
        width: 30%;
    }

    .foto-card1{
        width: 150px;
    }

    .foto-card2{
        width: 150px;
    }

    .foto-card3{
        width: 150px;
    }
}

@media screen and (max-width: 600px){
    .box1{
        width: 100%;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .first-op{
        margin-bottom: 50px;
        width: 100%;
        margin-right: 70px;
    }

    .first-op-enter div{
        font-size: 13px;
    }

    .first-op-enter p{
        font-size: 17px;
        margin-bottom: 8px;
    }

    .second-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
    }

    .second-op-enter div{
        font-size: 13px;
    }

    .second-op-enter p{
        font-size: 17px;
        margin-bottom: 8px;
    }

    .box-cards{
        width: 5%;
    }


}

@media screen and (max-width: 550px){
    .box-cards{
        width: 1px;
        padding-left: 200px;
    }
}

@media screen and (max-width: 750px){
    .box1{
        width: 100%;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .first-op{
        margin-bottom: 50px;
        width: 100%;
        margin-right: 70px;
    }

    .first-op-enter div{
        font-size: 13px;
    }

    .first-op-enter p{
        font-size: 17px;
        margin-bottom: 8px;
    }

    .second-op{
        margin-bottom: 50px;
        width: 95%;
        margin-right: 70px;
    }

    .second-op-enter div{
        font-size: 13px;
    }

    .second-op-enter p{
        font-size: 17px;
        margin-bottom: 8px;
    }
}