* {
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    padding: 0;
    margin: 0 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800;900&display=swap');

/* SIDEBAR */
nav.menu-lateral {
    width: 55px;
    height: 100%;
    background-color: #fff;
    padding: 20px 0 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 0 25px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    /* z-index: 1; */
}

nav.menu-lateral .btn-expandir {
    margin-left: 15px;
    margin-bottom: 13px;
}

nav.menu-lateral.expandir {
    width: 255px;
    z-index: 1;
}

.btn-expandir>i {
    color: #323232;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.ativo {
    background-color: #fdeccc;
}

ul li.item-menu:hover {
    background: #fdeccc;
}

ul li.item-menu a {
    color: #323232;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    overflow: hidden;
}

ul li.item-menu a .txt-link {
    margin-left: 70px;
    transition: 0.7s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
    margin-left: 35px;
    opacity: 1;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 10px;
}

.txt-link {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}


/* NAVBAR */
.box-navbar {
    height: 68px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
    margin-bottom: -18px;
    z-index: 1;
    top: 0;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 15px;
}

.box-logo {
    width: 73px;
    height: 63px;
    margin-left: 10vh;
    padding: 3px;
}

.logo {
    max-width: 100%;
    cursor: pointer;
}

.box-btn-login button {
    border: none;
    padding: 10px 35px;
    border-radius: 5%;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    transition: .4s;
}

.box-btn-login button:hover {
    color: #fff;
    z-index: 1;
    transform: scale(1.1);
    
}

.box-btn-login button::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 105%;
    height: 105%;
    border-radius: 5%;
    position: absolute;
    left: -100px;
    top: 0;
    background-color: #ff8a00;
    z-index: -1;
}

.box-btn-login button:hover::before {
    animation: deslocar .3s;
    left: 0;
    top: 0;
}

@keyframes deslocar {
    0% {
        left: -100px;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.background {
    margin-left: 55px;
    width: calc(100% - 55px);
    height: 89vh;
    background-color: #e1e1e1;
    top: 0;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #1e1e1e;
    width: 70%;
    height: 80%;
    margin: 6% auto;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    position: relative;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    position: absolute;
    top: -120px;
    left: -130px;
}

.container-img img {
    width: 100%;
    height: 100%;
}

.dourado {
    background: linear-gradient(93deg, #FFAE00 17.47%, #FFD15C 80.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-geral {
    width: calc(100% - 125px);
    margin-left: 125px;
    height: 80px;
    border-top-right-radius: 15px;
    padding-top: 5px;
}

.title-geral h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 30px;
}

.estrofe {
    width: calc(100% - 125px);
    margin-left: 125px;
    height: 110px;
    display: flex;
}

.excl {
    width: 7%;
    height: 100%;
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.estrofe p {
    height: 100%;
    width: 92%;
    margin-top: 2%;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    color: #fff;
    padding: 6px;
    font-size: 18px;
    text-align: justify;
}

.estrofe p span {
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    font-size: 21px;
}

.container-lista {
    width: 100%;
    height: 261px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.box {
    flex: 1;
    padding-bottom: 08px;
    margin-left: 40px;
}

.num {
    width: 8%;
    height: 100%;
    font-weight: 900;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1,
.item2,
.item3 {
    display: flex;
}

.p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 15px;
}