* {
  padding: 0;
  margin: 0 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  transition: transform 3s;
  background-image: linear-gradient(#ffeac3, #ffecdb);
  padding-bottom: 5%;
}

/* SIDEBAR */
nav.menu-lateral {
  width: 55px;
  height: 100%;
  background-color: #fff;
  padding: 20px 0 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  z-index: 1;
}

nav.menu-lateral .btn-expandir {
  margin-left: 15px;
  margin-bottom: 13px;
}

nav.menu-lateral.expandir {
  width: 255px;
  z-index: 1;
}

.btn-expandir > i {
  color: #323232;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.item-menu {
  transition: 0.2s;
}

ul li.ativo {
  background-color: #fdeccc;
}

ul li.item-menu:hover {
  background: #fdeccc;
}

ul li.item-menu a {
  color: #323232;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
  overflow: hidden;
}

ul li.item-menu a .txt-link {
  margin-left: 70px;
  transition: 0.7s;
  opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
  margin-left: 35px;
  opacity: 1;
}

ul li.item-menu a .icon > i {
  font-size: 30px;
  margin-left: 10px;
}

/* NAVBAR */
.box-navbar {
  height: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-bottom: -18px;
  z-index: 1;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 15px;
}

.box-logo {
  width: 73px;
  height: 63px;
  margin-left: 10vh;
  padding: 3px;
}

.logo {
  max-width: 100%;
  cursor: pointer;
}

.btn-login {
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  nav.menu-lateral {
    width: 0;
  }
  nav.menu-lateral.expandir {
    width: 50px;
  }

  .box-navbar {
    height: 40px;
  }

  .box-logo {
    width: 53px;
    height: 43px;
  }

  .btn-login {
    font-size: 10px;
    width: 74px;
    height: 26px;
  }
}

/* BANNER PRINCIPAL */
.box-banner-principal {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.box-banner-principal img {
  box-shadow: 0 3px 55px rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  cursor: pointer;
}
.title-categorias {
  font-family: "Barlow", sans-serif;
  margin-top: 4%;
}

.box-categorias {
  width: 90%;
  height: 250px;
  margin: 5% 0 0 6%;
  text-align: center;
}

.box-restaurantes {
  width: 90%;
  height: 250px;
  margin: 5% 0 0 6%;
}

.flex-comidas {
  width: 100%;
  height: 200px;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 25px #30303070;
}

.flex-restaurantes {
  width: 100%;
  height: 200px;
  margin-top: 1%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 25px #30303070;
  overflow-x: scroll;
  overflow-y: hidden;
}

.flex-comidas .comida,
.flex-restaurantes .restaurante {
  width: 20%;
  height: 100%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
}

.flex-restaurantes .restaurante:hover {
  transform: scale(1.1);
}

.flex-comidas .comida:hover {
  transform: scale(1.07);
}

.box-categorias .title-categorias,
.box-restaurantes .title-restaurantes {
  font-family: "Barlow", sans-serif;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  color: #303030;
}

.flex-restaurantes .restaurante img {
  text-align: center;
  margin-left: 3px;
}
.name-restaurante,
.name-categoria {
  font-family: "Barlow", sans-serif;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  margin-bottom: 14px;
}

.box-engloba-tudo {
  width: 97%;
  margin: 0 auto 0 55px;
}
