a{
    text-decoration: none;
    color: black
}

footer{
    margin-top: 50px;
    background-color: #FDECCC;
    height: 250px;
    width: calc(100% - 55px);
    display: flex;
    justify-content: center;
    float: right;
    font-family: 'Poppins', sans-serif;
}


.conteudo-rodape{
    margin-top: 3%;
    width: 85%;
    margin-right: 4%;
}

.logos{
    display: flex;
    justify-content: center;
}

.logos a{
    margin-right: 12px;
    margin-left: 12px;
}

.linhas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.linha1{
    display: inline-block;
    margin: 4px;
    text-align: center;
}

.linha2{
    text-align: center;
    margin: 4px;
}

.conteudo-rodape p{
    text-align: center;
}

.zap{
    margin-top: 5px;
}

.logobommenu{
    margin-top: 1%;
}

@media screen and (max-width: 750px) {
    footer{
        width: 100%;
    }
}


