* {
  padding: 0;
  margin: 0 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  transition: transform 3s;
  background-image: linear-gradient(#ffeac3, #ffecdb);
  padding-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}

/* SIDEBAR */
nav.menu-lateral {
  width: 55px;
  height: 100%;
  background-color: #fff;
  padding: 20px 0 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 0 25px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  z-index: 1;
}

nav.menu-lateral .btn-expandir {
  margin-left: 15px;
  margin-bottom: 13px;
}

nav.menu-lateral.expandir {
  width: 255px;
  z-index: 1;
}

.btn-expandir>i {
  color: #323232;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.item-menu {
  transition: 0.2s;
}

ul li.ativo {
  background-color: #fdeccc;
}

ul li.item-menu:hover {
  background: #fdeccc;
}

ul li.item-menu a {
  color: #323232;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 40px;
  overflow: hidden;
}

ul li.item-menu a .txt-link {
  margin-left: 70px;
  transition: 0.7s;
  opacity: 0;
}

nav.menu-lateral.expandir .txt-link {
  margin-left: 35px;
  opacity: 1;
}

ul li.item-menu a .icon>i {
  font-size: 30px;
  margin-left: 10px;
}

.txt-link{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}


/* NAVBAR */
.box-navbar {
  height: 68px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  margin-bottom: -18px;
  z-index: 1;
  top: 0;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 15px;
}

.box-logo {
  width: 73px;
  height: 63px;
  margin-left: 10vh;
  padding: 3px;
}

.logo {
  max-width: 100%;
  cursor: pointer;
}

.box-btn-login button {
  border: none;
  padding: 10px 35px;
  border-radius: 5%;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}
.box-btn-login button:hover{
  color: #fff;
  z-index: 1;
  transition: .4s;
}

.box-btn-login button::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 105%;
  height: 105%;
  border-radius: 5%;
  position: absolute;
  left: -100px;
  top: 0;
  background-color: #ff8a00;
  z-index: -1;
}

.box-btn-login button:hover::before {
  animation: deslocar .3s;
  left: 0;
  top: 0;
}

@keyframes deslocar {
  0% {
    left: -100px;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  nav.menu-lateral {
    width: 0;
  }
  nav.menu-lateral.expandir {
    width: 50px;
  }

  .box-navbar {
    height: 40px;
  }

  .box-logo {
    width: 53px;
    height: 43px;
  }

  .btn-login {
    font-size: 10px;
    width: 74px;
    height: 26px;
  }
}

/* promoções */
.box-promocoes {
  width: 100%;
  height: 100%;
  color: #fff;
  padding-top: 30px;
  margin: 0 auto 0 0;
  padding-bottom: 40px;
}

.box-promocoes .title-geral {
  width: 100%;
  margin-bottom: 30px;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  text-shadow: 0 3px 15px rgba(0, 0, 0, 0.6);
  margin-top: 50px;
  background-color: darkred;
  box-shadow: 0 3px 55px rgba(0, 0, 0, 0.3);
  padding: 40px 15px;
}

/* 1 e 3 promoção */
.box-promocoes .promocao1-3 {
  width: 80%;
  height: 350px;
  background-color: #fff;
  margin-left: 7%;
  border-radius: 10px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  margin-top: 100px;
}

.promocao1-3 .img-promocao {
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.img-promocao img{
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -60px;
  left: 0px;
}

.promocao1-3 .box-txt-btn {
  background-color: #fff;
  width: 45%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
}

.promocao1-3 .txt-exp-promo {
  width: 100%;
  height: 160px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  color: #323232;
  padding: 20px;
}

.promocao1-3 .txt-exp-promo p{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.title-promo{
  font-size: 22px;
  margin-bottom: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.txt-exp-promo p{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.box-txt-btn .box-btn-promocao {
  text-align: center;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2 e 4 promoções */
.box-promocoes .promocao2-4 {
  width: 80%;
  height: 350px;
  margin-left: 15%;
  border-radius: 10px;
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.3);
  display: flex;
  margin-top: 100px;
}

.promocao2-4 .img-promocao {
  background-color: #323232;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.promocao2-4 .img-promocao img{
  width: 100%;
  height: auto;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: -60px;
  left: 0px;
}

.promocao2-4 .box-txt-btn {
  background-color: #fff;
  width: 45%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.promocao2-4 .txt-exp-promo {
  width: 100%;
  height: 160px;
  background-color: #fff;
  border-top-right-radius: 10px;
  padding: 15px;
  color: #323232;
}

.promocao2-4 .txt-exp-promo p{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.box-txt-btn .box-btn-promocao {
  text-align: center;
  margin-top: 8px;
  width: 100%;
  height: 25%;
}

.box-btn-promocao input {
  width: 85%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(93deg, #ffb800 0%, #ff8a00 100%);
  box-shadow: 0 3px 15px #ffb800;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 130px;
  transition: 0.3s;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.box-btn-promocao input:hover{
  transform: scale(1.2);
}

.efeito-promo1, .efeito-promo2, .efeito-promo3, .efeito-promo4, .efeito-title{
  visibility: hidden;
} 